<ion-view>

<div class="row header-row bg-gray">
      <div class="col align-left">
        <img src="img/kc_logo.svg" alt="">
      </div>
      <div class="col align-right">
        <a class="button button-clear button-positive" ui-sref="notifications">
          <img src="img/notification-bell.svg" alt="" class="notification-bell">
          <img src="img/new-notification.png" alt="" class="new-notification" ng-show="false">
        </a>
      </div>
</div>

<ion-content class="bg-gray with-header" has-bouncing="false">

    <div class="button-holder">
      <div class="row button-row">
        <a ui-sref="kabadiwalla">
        <button class="button button-full button-light home-button" >
          <p class="align-left button-text">Find a local scrap aggregator</p>
          <img src="img/find-kabadiwalla-button.svg" alt="" class="fk-button-image">
        </button>
        </a>
      </div>
      <div class="row button-row">
        <a ui-sref="info">
        <button class="button button-full button-light home-button">
          <p class="align-left button-text">Learn more about Recycling</p>
          <img src="img/info-button.svg" alt="" class="fk-button-image">
        </button>
      </a>
      </div>
    </div>

    <div class="footer">
      <p>Powered by Kabadiwalla Connect</p>
    </div>
    
</ion-content>

</ion-view>
