<ion-view>

  <div class="row header-row bg-gray">
      <div class="col col-10" ng-click="goBack()">
        <a class="button icon-left ion-arrow-left-c button-clear button-dark align-left"></a>
      </div>
      <div class="col col-90">
        <p>{{article.title}}</p>
      </div>
  </div>

<ion-content class="bg-gray with-header">
  <div ng-if="article.type=='image'">
    <img ng-src="{{article.content}}" alt="" class="image">
  </div>

  <div class="article" ng-if="article.type=='html'">
    <span ng-bind-html="article.content"></span>
  </div>

</ion-content>

</ion-view>
