<ion-view>

  <div class="row header-row bg-gray">
      <div class="col col-10" ng-click="goBack()">
        <a class="button icon-left ion-arrow-left-c button-clear button-dark align-left"></a>
      </div>
      <div class="col col-90">
        <p>Information</p>
      </div>
  </div>

<ion-content class="bg-gray with-header">
  <ion-list>
    <ion-item class="kabadiwalla-item" ng-repeat="article in articles" ng-click="setCurrent($index)">
      <div class="bar blue"></div>
        <div class="row">
          <div class="col k-name">
            <h4>{{article.title}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>{{article.description}}</p>
          </div>
        </div>
    </ion-item>
  </ion-list>
</ion-content>

</ion-view>
