<ion-view>

  <div class="row header-row bg-gray">
      <div class="col col-10" ng-click="goBack()">
        <a class="button icon-left ion-arrow-left-c button-clear button-dark align-left"></a>
      </div>
      <div class="col col-90">
        <p>Kabadiwalla List</p>
      </div>
  </div>

<ion-content class="bg-gray with-header">
  <ion-list>
    <ion-item class="kabadiwalla-item" ng-repeat="kabadiwalla in kabadiwallas">
      <div class="bar"></div>
        <div class="row">
          <div class="col k-name">
            <h4>{{kabadiwalla.shop_name}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="call">
            <a href="tel:{{kabadiwalla.shop_contact_number}}" class="button icon-left ion-ios-telephone button-clear button-dark align-left"> &nbsp;&nbsp;Call</a>
          </div>
          <div class="separator"></div>
          <div class="direction">
            <a href="geo:{{+kabadiwalla.latitude}},{{+kabadiwalla.longitude}}?q={{+kabadiwalla.latitude}},{{+kabadiwalla.longitude}} ({{kabadiwalla.shop_name}})" class="button icon-left ion-navigate button-clear button-dark align-left"> &nbsp;&nbsp;Direction</a>
          </div>
        </div>
    </ion-item>
  </ion-list>
  <button class="button button-clear button-balanced button-full" ng-click="loadMore()" ng-show="!lastIndex">
    Load More
  </button>
  <div class="loading" ng-show="loading || nokc">
    <img src="img/geo.png" alt="" ng-show="geo && !nokc">
    <img src="img/shop.png" alt="" ng-show="!geo  && !nokc">
    <img src="img/no-kc.png" alt="" ng-show="nokc">
    <p>{{loadingMessage}}</p>
    <ion-spinner ng-hide="nokc" icon="lines"></ion-spinner>
  </div>
</ion-content>

</ion-view>
