<ion-view>

  <div class="row header-row no-margin bg-gray">
    <div class="col">
      <div class="logo">
        <img src="img/kc_logo.svg" alt="">
      </div>
    </div>
  </div>

  <ion-content class="bg-gray with-header">

    <form ng-submit="register(form)" class="register-form" name="registerForm" novalidate>
      <div class="list">
        <label class="item item-input item-floating-label" ng-class="{'has-error': registerForm.name.$error.required && registerForm.name.$dirty}">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="First Name" ng-model="form.first_name" name="firstname" required>
        </label>
        <label class="item item-input item-floating-label" ng-class="{'has-error': registerForm.name.$error.required && registerForm.name.$dirty}">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Last Name" ng-model="form.last_name" name="lastname" required>
        </label>
        <label class="item item-input item-floating-label" ng-class="{'has-error': registerForm.email.$error.required && registerForm.email.$dirty && registerForm.email.$invalid, 'invalid': registerForm.email.$dirty && registerForm.email.$invalid}">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Email" ng-model="form.email" name="email" ng-pattern="regex" autocapitalize="off" lowercased required>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Location
          </div>
          <select ng-model="form.location" required>
            <option>Adambakkam</option>
            <option>Adyar</option>
            <option>Alandur</option>
            <option>Alapakkam</option>
            <option>Alwarpet</option>
            <option>Alwarthirunagar</option>
            <option>Ambattur</option>
            <option>Aminjikarai</option>
            <option>Anna Nagar</option>
            <option>Annanur</option>
            <option>Arumbakkam</option>
            <option>Ashok Nagar</option>
            <option>Avadi</option>
            <option>Ayanavaram</option>
            <option>Besant Nagar</option>
            <option>Basin Bridge</option>
            <option>Chepauk</option>
            <option>Chetput</option>
            <option>Chintadripet</option>
            <option>Chitlapakkam</option>
            <option>Choolai</option>
            <option>Choolaimedu</option>
            <option>Chrompet</option>
            <option>Egmore</option>
            <option>Ekkaduthangal</option>
            <option>Ennore</option>
            <option>Foreshore Estate</option>
            <option>Fort St. George</option>
            <option>George Town</option>
            <option>Gopalapuram</option>
            <option>Government Estate</option>
            <option>Guindy</option>
            <option>IIT Madras</option>
            <option>Injambakkam</option>
            <option>ICF</option>
            <option>Iyyapanthangal</option>
            <option>Jafferkhanpet</option>
            <option>Karapakkam</option>
            <option>Kattivakkam</option>
            <option>Kazhipattur</option>
            <option>K.K. Nagar</option>
            <option>Keelkattalai</option>
            <option>Kelambakkam</option>
            <option>Kilpauk</option>
            <option>Kodambakkam</option>
            <option>Kodungaiyur</option>
            <option>Kolathur</option>
            <option>Korattur</option>
            <option>Korukkupet</option>
            <option>Kottivakkam</option>
            <option>Kotturpuram</option>
            <option>Kottur</option>
            <option>Kovalam</option>
            <option>Kovilambakkam</option>
            <option>Koyambedu</option>
            <option>Kundrathur</option>
            <option>Madhavaram</option>
            <option>Madhavaram Milk Colony</option>
            <option>Madipakkam</option>
            <option>Madambakkam</option>
            <option>Maduravoyal</option>
            <option>Manali</option>
            <option>Manali New Town</option>
            <option>Manapakkam</option>
            <option>Mandaveli</option>
            <option>Mangadu</option>
            <option>Mannady</option>
            <option>Mathur</option>
            <option>Medavakkam</option>
            <option>Meenambakkam</option>
            <option>MGR Nagar</option>
            <option>Minjur</option>
            <option>Mogappair</option>
            <option>MKB Nagar</option>
            <option>Mount Road</option>
            <option>Moolakadai</option>
            <option>Moulivakkam</option>
            <option>Mugalivakkam</option>
            <option>Mudichur</option>
            <option>Mylapore</option>
            <option>Nandanam</option>
            <option>Nanganallur</option>
            <option>Navalur</option>
            <option>Neelankarai</option>
            <option>Nemilichery</option>
            <option>Nesapakkam</option>
            <option>Nolambur</option>
            <option>Noombal</option>
            <option>Nungambakkam</option>
            <option>Otteri</option>
            <option>Padi</option>
            <option>Pakkam</option>
            <option>Palavakkam</option>
            <option>Pallavaram</option>
            <option>Pallikaranai</option>
            <option>Pammal</option>
            <option>Park Town</option>
            <option>Parry's Corner</option>
            <option>Pattabiram</option>
            <option>Pattaravakkam</option>
            <option>Pazhavanthangal</option>
            <option>Peerkankaranai</option>
            <option>Perambur</option>
            <option>Peravallur</option>
            <option>Perumbakkam</option>
            <option>Perungalathur</option>
            <option>Perungudi</option>
            <option>Pozhichalur</option>
            <option>Poonamallee</option>
            <option>Porur</option>
            <option>Pudupet</option>
            <option>Purasaiwalkam</option>
            <option>Puthagaram</option>
            <option>Puzhal</option>
            <option>Puzhuthivakkam</option>
            <option>Raj Bhavan</option>
            <option>Ramavaram</option>
            <option>Red Hills</option>
            <option>Royapettah</option>
            <option>Royapuram</option>
            <option>Saidapet</option>
            <option>Saligramam</option>
            <option>Santhome</option>
            <option>Sembakkam</option>
            <option>Selaiyur</option>
            <option>Shenoy Nagar</option>
            <option>Sholavaram</option>
            <option>Sholinganallur</option>
            <option>Sithalapakkam</option>
            <option>Sowcarpet</option>
            <option>St.Thomas Mount</option>
            <option>Tambaram</option>
            <option>Teynampet</option>
            <option>Tharamani</option>
            <option>T. Nagar</option>
            <option>Thirumangalam</option>
            <option>Thirumullaivoyal</option>
            <option>Thiruneermalai</option>
            <option>Thiruninravur</option>
            <option>Thiruvanmiyur</option>
            <option>Tiruverkadu</option>
            <option>Thiruvotriyur</option>
            <option>Tirusulam</option>
            <option>Tiruvallikeni</option>
            <option>Tiruvallur</option>
            <option>Tondiarpet</option>
            <option>United India Colony</option>
            <option>Vandalur</option>
            <option>Vadapalani</option>
            <option>Valasaravakkam</option>
            <option>Vallalar Nagar</option>
            <option>Vanagaram</option>
            <option>Velachery</option>
            <option>Villivakkam</option>
            <option>Virugambakkam</option>
            <option>Vyasarpadi</option>
            <option>Washermanpet</option>
            <option>West Mambalam</option>
          </select>
        </label>
      </div>
      <div class="padding">
        <input type="submit" ng-disabled="registerForm.$invalid || formSubmitted" value="SIGNUP" class="button button-block button-gpsdd"></input>
      </div>
    </form>

    <ion-spinner ng-show="formSubmitted" icon="lines"></ion-spinner>

  </ion-content>

</ion-view>
