/* Empty. Add your own CSS if you like */

.bg-gray{
  background-color: #F6F6F6;
}

.align-left{
  text-align: left;
}

.align-right{
  text-align: right;
}

.header-row{
  padding: 2em 1em;
  position: fixed;
}

.with-header{
  top: 100px;
}

.header-row p{
  line-height: 2.3em;
  font-size: 1.5em;
  text-align: center;
  margin-left: -10%;
}

.no-margin.header-row p{
  margin-left: 0 !important;
}


.notification-area{
  position: relative;
}

.new-notification{
  position: absolute;
  top: 0;
  right:0;
}

.notification-bell{
  position: absolute;
  top: 0;
  right:0;
}

.button-row{
  padding: 12% 1em;
}

.button-row a{
  width: 100%;
  text-decoration: none;
}

.home-button{
  border-radius: 8px;
  height: 9em;
  padding: 1em 0;
  box-shadow: 5px 5px 20px #AAAAAA;
}

.fk-button-image{
  height: 8em;
  width: auto;
  position: absolute;
  right: 0;
  top:0.5em;
}

.button-holder{
  height: calc(100% - 120px);
  padding: 5% 0;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.button-text{
  padding-left: 20px;
  font-size: 1.2em;
  width: 60%;
  line-height: 1.3em;
}

.home-button.activated{
  border-color: white !important;
}

.kabadiwalla-item{
  border-radius: 5px;
  padding: 5% 5% 3% 5%;
  box-shadow: 5px 5px 20px #999999;
  margin: 1em;
}

.k-name{
  padding-bottom: 10px;
}

.k-name h4{
  font-size: 1.1em;
  color: #444;
}

.bar{
  height: 100%;
  width: 10px;
  background-color: #7ED321;
  position: absolute;
  left: 0;
  top: 0;
}

.bar.blue{
  background-color: #3FCCD8 !important;
}


.separator{
  width: 1px;
  margin: 0 5px;
  background-color: #EAEAEA;
  height: 37px;
  margin-top: 5px;
}
.call .button{
  color: #009688 !important;
}

.direction .button{
  color: #2196F3 !important;
}

.loading{
  position: absolute;
  margin-top: 30%;
  text-align: center;
  width: 100%;
}

.image{
  width: 100%;
  height: auto;
}

.spinner svg {
  stroke: #7ED321;
  fill: #7ED321;
}

.register-form {
    padding: 1.2em;
}
.item-select {
    border: none !important;
    margin-top: 25px !important;
    border-bottom: solid 1px #aaaaaa !important;
}
.item-floating-label {
    border: none;
    border-bottom: solid 1px #aaaaaa;
}
.item-floating-label.has-error {
    border: none;
    border-bottom: solid 1px red;
}
.item-floating-label.invalid {
    border: none;
    border-bottom: solid 1px red;
}

.item-select, .item-select select{
  background: none;
}

.button-gpsdd{
  background-color: #3FCCD8 !important;
  color: white;
}

.logo{
  text-align: center;
}

.logo img{
  margin-top: 15px;
  width: 50%;
  height: auto;
}

.welcome p{
  text-align: left;
  margin-top: 10%;
  margin-left: 20px;
  font-size: 1.5em;
  color: #444444;
}

.article{
  padding: 0 1em;
}

.article img{
  width: 100%;
  height: auto;
}

.article p{
  margin-top: 10px;
  font-size: 1.2em;
}
